@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        
  }

  .song-row {
    position: relative;
  }
  
  .song-row:hover .song-index {
    display: none;
  }
  
  .song-row:hover .song-play-button {
    display: block;
  }
  
  .song-row:hover .song-more-icon {
    display: block;
  }
  
}